body {
  min-height: 100vh;
  width: 100%;
  /* create new block formatting ctx */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing */
  display: flow-root;
  margin: 0;
  position: relative;
}

/* start centered */
div#app {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#plivo-sip-login {
  @import "plivo_sip_login";
}


div#plivo-sip-call {
  @import "plivo_sip_call";
}


.button {
  position: relative;
  overflow: hidden;
  border-radius: .25em;
}

@stripe-width: .3em;
@color-stripe1: transparent;
@color-stripe2: blue;
/* for smooth transition last to first frame */
/* sqrt(2)=1.14 ensures stripes boundaries match, since 45deg */
/* 2 ensures stripe colors match, since 2 stripes */
@anim-scroll-dist: (2 * 1.41421356 * @stripe-width);

.button .overlay {
  position: absolute;
  opacity: 0.6;
  left: 0;
  width: 100%;
  /* fudge to avoid calc() */
  height: 200%;
  background: repeating-linear-gradient(
    45deg, @color-stripe1 0, @color-stripe1 @stripe-width,
    @color-stripe2 @stripe-width, @color-stripe2 (2 * @stripe-width));
  animation: 0.5s linear 0s infinite scroll-stripes
}

@keyframes scroll-stripes {
  from {top: 0;}
  to {top: (-1 * @anim-scroll-dist);}
}
