font-size: 1.25rem;
display: flex;
flex-direction: column;
align-items: center;

h3 {
  margin: 0;
  font-size: 1.5em;
}

input {
  font-size: 1em;
  padding: .1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px grey;
  outline: none;
}

.loading input {
  color: lightgrey;
  background: grey;
}

button {
  font-size: 1.15em;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: #00ffff; /* cyan */
  border: solid .1em black;
  outline: none;
}

@login-button-ready-color: #00ffaa;

button:hover {
  cursor: pointer;
  background-color: @login-button-ready-color;
}

button:focus {
  background-color: @login-button-ready-color;
}

@input-margin-bottom: .75em;
@inputs-margin-bottom: 1em;

section.inputs {
  margin-top: 1em;
  margin-bottom: @inputs-margin-bottom - @input-margin-bottom;
}

div.input {
  font-size: 1em;
  margin-bottom: @input-margin-bottom;
}
